*{
    box-sizing: border-box;
}
body{
    margin: 0px;padding: 0px;
    /* background-color: #f2f2f2; */
   
    background-image: url();
     
}

.mainsection>#part1{
    height:600px;width:100%; 
    background-image: url(/image/services\ image.jpg) ;
   
    text-align: center;
    /* margin-top: 0px;padding-top: 0px; 
   /* align-items: center;justify-content: center; */
}
.mainsection>#part1>h1{
    font-size:80px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
    color: rgb(50, 49, 49);
   
}
#part1>h3{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight:lighter;
    font-size: 30px;
}
#part1>h1>span{
    color: rgb(6, 172, 249);
}
#part1>h1{
    top:200px;align-content: center;
    margin-top:50px;
}
#part1{
    position: relative;
    align-self: center;justify-content: center;
}
.scroll-down{
    position: absolute;
    height:60px;
    width:40px;
    border-radius: 50px;
    left:700px; bottom:20px;
   cursor: pointer;
}
.scroll-down::before,
.scroll-down::after{
    content:"";
    position: absolute;
    top:20%;left:50%; border: 5px solid black;
    height:15px;width:15px;
    transform: translate(-50%,-100%) rotate(45deg);
    border-top: transparent;border-left:transparent;
    animation: scroll-down 1s ease-in-out infinite;
}
.scroll-down::after{
    top:30%;
    animation-delay: .3s;
}
@keyframes scroll-down{
    0%{
        opacity: 0;
    }
    30%{
        opacity: 1;
    }
    60%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        top:90%;
    }
   
}
#main{
    width: 90%;
    margin: auto;
    display: grid;grid-template-columns: repeat(1,1fr);
    grid-auto-rows: 600px;
}
.card{
    width:1200px;
}
.card_img>img{
    width:500px;height:400px;
   
}
.card{
    display: flex;
    justify-content: center;
   
}
.card>.card_title{
    margin: 30px; width:400px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight:lighter;
    font-size: 30px;
    align-content: center;
    
}
.card_body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight:lighter;
    font-size: 22px;
    margin-left:30px;
    background-color: rgb(250, 247, 247);
    padding:30px; border-radius: 5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    color: rgb(32, 31, 31);
}
#main{
    margin-top: 40px;
    
}
.card_img{
    border-radius: 20px;
}
.card_title{
    color: rgb(6, 172, 249);
}
.link:hover{
   color: rgb(6, 172, 249);
   cursor: pointer;
}
