*{
    box-sizing: border-box;
}
body{
    margin: 0px;   
    margin: auto;
    background-color: #F5F4EF;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
hr{
    width: 500px;
    margin: auto;
    margin-top: 20px;
    height: 3px;
    background-color: black;
}
.mainsection>#part1{
    /* height:600px; */
    width:100%; 
    background-image: url(/image/services\ image.jpg) ;
    text-align: center;
    /* margin-top: 0px;padding-top: 0px; 
   /* align-items: center;justify-content: center; */
}
.mainsection>#part1>h1{
    font-size:80px;
    font-weight:600;
    color: black;
    margin-bottom: -20px;   
    margin-top: -40px;
}
#part1>h3{
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 50px;
}
#part1>h1{
    /* top:200px; */
    align-content: center;
    /* margin-top:50px; */
}
#part1{
    position: relative;
    align-self: center;
    justify-content: center;
}
#main{
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 50px;
}
/* .card{
    width:1200px;
} */
.card_img>img{
    width:500px;height:400px;
   
}
.card{
    display: flex;
    justify-content: center;
   
}
.card>.card_title{
    margin: 30px; width:400px;
    font-weight:lighter;
    font-size: 30px;
    align-content: center;
    
}
.card_body{
    font-weight:lighter;
    font-size: 22px;
    margin-left:30px;
    background-color: rgb(250, 247, 247);
    padding:30px; border-radius: 5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    color: rgb(32, 31, 31);
}
#main{
    margin-top: 40px;
    
}
.card_img{
    border-radius: 20px;
}
.card_title{
    /* color: rgb(6, 172, 249); */
    font-weight: 600;
    font-size: 30px;
}
.link:hover{
   color: rgb(6, 172, 249);
   cursor: pointer;
}
.card_desc{
    font-size: 20px;
    font-weight: 500;
}

.link{
    font-size: 25px;
    font-weight: 600;
    text-decoration: underline
}

/* Nav CSS Part Start*/

#nav{
    width: 90%;
    margin: auto;
    background-color: #F5F4EF;
    display: flex;
    justify-content: space-between;
    border-bottom: 3px solid black;
    margin-bottom: 100px;
}
#logo{
    margin-left: 20px;
    background-color: red;
    width: 170px;
}
#logo img{
    width: 100%;
    height: 100%;
}
#nav>#navButtons{
    display: flex;
    justify-content: space-around;
    width: 50%;
    align-items: center;
    margin-right: -25px;
}
#navButtons>div>a{
    font-size: 18px;
    color: black;
    font-weight:600;
    text-decoration:none;
}

/* Nav CSS Part End*/

/* Footer CSS Start */
#blackHR{
    margin-top: 150px;
    border: 0px;
    background-color: black;
    height: 2px;
    width: 90%;
  }
footer{
    display: flex;
    width: 90%;
    margin: auto;
    gap: 150px;
    margin-top: 50px;
  }
  #footerLeft{
    width: 40%;
    color: #656562;
  }
  #description{
    font-size: 20px;
    margin-bottom: 30px;
  }

  #logoImg{
   width: 40%;
  }
  footer img{
    width: 100%;
  }

  #compLogos{
    display: flex;
  }

  #footerRight{
    display: flex;
    width: 60%;
    /* background-color: aqua; */
    justify-content: space-between;
  }

  #footerRight>div>p:nth-child(1){
    font-size: 20px;
    font-weight: bold;
  }
  #footerRight>div>p>a{
    font-size: 18px;
    text-decoration: none;
    color: #656562;
  }
  /* Footer CSS End */